<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title></title>

        <link rel="shortcut icon" href="#">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>


    </head>

    <body>
    
    <!-- hello <br> -->
    <button onclick="send_server_and_back()"> send "ola" to the server and back </button>

    </body>

</html>